<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1022735723273-ea6e3k74fii38sd7d7u4mk326a670vrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022735723273-ea6e3k74fii38sd7d7u4mk326a670vrb</string>
	<key>API_KEY</key>
	<string>AIzaSyDR3NQjbwfb0I_v3pA6Ili1GsWEVf_U8rk</string>
	<key>GCM_SENDER_ID</key>
	<string>1022735723273</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HomeCookedGames.SportsBowl</string>
	<key>PROJECT_ID</key>
	<string>sports-bowl-private-alpha</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-bowl-private-alpha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022735723273:ios:ddcbb6ebb80b96c8</string>
	<key>DATABASE_URL</key>
	<string>https://sports-bowl-private-alpha.firebaseio.com</string>
</dict>
</plist>